footer {
    background-color: red;
    color: #fff;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    width: 98.8%;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

footer nav ul li a:hover {
    text-decoration: underline;
}