<div class="container">


    <div *ngFor="let garment of clothes" class="catalog">
        <div class="item">
            <div class="media"><img src={{garment.img}} alt="Clothes 1"></div>
            <div class="content">
                <div class="description">Type: {{garment.model}}</div>
                <div class="description">Color: {{garment.description}}</div>
                <div class="price">Price: {{garment.price}}BGN</div>
                <div class="type">For: {{garment.type}}</div>
                <div class="comments">{{garment.comments}}</div>
                <div class="btn"><a href="#">See more details</a></div>
            </div>

        </div>
    </div>