<div class="container">


    <div *ngFor="let garment of clothes" class="catalog">
        <div class="item">
            <div class="media"><img src={{garment.img}} alt="Clothes 1"></div>
            <div class="content">
                <div class="type">Вид: {{garment.model}}</div>
                <div class="description">Цвят: {{garment.description}}</div>
                <div class="price">Цена: {{garment.price}}BGN</div>
                <div class="type">Пол: {{garment.type}}</div>
                <div class="btn"><a routerLink="/catalog/{{garment._id}}">Вижте повече...</a></div>
            </div>

        </div>
    </div>