<header>
    <div class="container">
        <h1>Дрехи втора употреба <span><a routerLink="/">ФАВОРИТ</a></span></h1>
        <nav>
            <ul>
                <li *ngIf="!isLogged"><a routerLink="/login">Вход</a></li>
                <li *ngIf="!isLogged"><a routerLink="/register">Регистрация</a></li>

                <li *ngIf="isLogged"><a routerLink="/{{userId}}/myposts">Моят Профил</a></li>

                <li><a routerLink="/catalog">Дамска мода</a></li>
                <li *ngIf="isLogged"><a routerLink="/create">Продай своя дреха</a></li>
                <li><a routerLink="/about">За нас</a></li>
                <li><a routerLink="/contact">Контакти</a></li>


                <li *ngIf="isLogged"><a (click)="logout()" >Изход</a></li>


            </ul>
        </nav>
    </div>
</header>