header {
    background-color: red;
    color: #fff;
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}
h1 span{
    font-family: 'Brush Script MT', cursive;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}